---
title: Course Outline
---
<div class="grid">
  <div class="content">
    <h1>IMG 240 Course Outline</h1>

    <h3>Ruby, the language</h3>

    <ul>
      <li>Philosophy and community</li>
      <li>Syntax</li>
      <li>Standard library</li>
      <li>Conventions and idioms</li>
    </ul>

    <h3>Core tools for Ruby and Rails</h3>
    <ul>
      <li>git, the version control system</li>
      <li>Gems and bundler</li>
      <li>Development tools and setting up your own environment</li>
    </ul>

    <h3>Modern web applications and Rails</h3>
    <ul>
      <li>Routing layer</li>
      <li>Controllers</li>
      <li>Models and persistence</li>
      <li>Templating and rendering</li>
      <li>REST and building APIs</li>
      <li>Using external APIs</li>
      <li>Front-end patterns</li>
      <li>Caching</li>
      <li>Authentication and authorization</li>
      <li>Background processing</li>
      <li>Test suite</li>
      <li>Configuration</li>
      <li>Deployment</li>
    </ul>

    <h3>Designing maintainable software</h3>
    <ul>
      <li>Single responsibility</li>
      <li>Naming</li>
      <li>Don’t repeat yourself</li>
      <li>Writing testable code</li>
    </ul>

    <h3>Professional development</h3>
    <ul>
      <li>Useful resources</li>
      <li>How to develop your skills</li>
    </ul>
  </div>
</div>
