---
title: Course Outline
---
.grid
  .content
    .titlized-list
      %h4 Blogs to subscribe to in your RSS feed reader
      %p= link_to 'Code Climate', 'http://blog.codeclimate.com/'
      %p= link_to 'Rubyflow', 'http://www.rubyflow.com/'
      %p= link_to 'Avdi Grimm', 'http://devblog.avdi.org/'
      %p http://elmcitycraftworks.org/post/80970074532/a-link-dump-from-practicing-rubyists
