---
title: Week 5 "Extinctions" Assignment
---
.grid
  .content
    %h1 Week 5 "Extinctions" Assignment

    %p= link_to 'Solar System seeds.rb', 'https://gist.github.com/alexdunae/d90786ef3034aec0510b'

    %h3 Setting up the data

    %ol
      %li Create a new Rails app called <code>extinctions</code>

      %li Initialize a git repository (in the <code>extinctions</code>) directory and commit all the files (a good commit message would be something like "Setup Rails project")

      %li
        Generate a model called <code>Classification</code> with the following fields in its migration:
        %ul
          %li name (string)

      %li
        Generate a model called <code>Animal</code> with the following fields in its migration:
        %ul
          %li classification (references)
          %li name (string)
          %li range (string)
          %li extinction_date (integer)

      %li
        Add a <code>recent?</code> instance method to the <code>Animal</code> model (class).  It should return true if <code>extinction_date</code> is after 1900, and false otherwise.

      %li
        Generate a model called <code>CommonName</code> with the following fields in its migration:
        %ul
          %li animal (references)
          %li name (string)

      %li
        Add the associations to the files in the <code>app/models</code> directory (both <code>belongs_to</code> and <code>has_many</code>)
        %ul
          %li Classification has many Animals, Animals have many CommonNames

      %li Add your files and commit with git (a good commit message would be something like "Added models")

      %li
        Run the migrations
        %br
        (If you get messed up at this point you can clear everything in the database with <code>bin/rake db:drop db:create db:migrate</code>)

      %li
        Copy in seed data in <code>db/seeds.rb</code> and load the seeds (<code>bin/rake db:seed</code>)

    %br
    %h3 Setting up the <code>Classifications</code> controller and views
    %ol
      %li
        Generate a <code>Classifications</code> controller and add it to your <code>routes.rb</code> file

        %ul
          %li Add an <code>index</code> method that retrieves the list of <code>Classification</code> records
          %li Add an <code>index</code> view that lists each <code>Classification</code>, along with the number of animals that are related (e.g. "Mammalia (10 animals)")
          %li Add a <code>show</code> method and view
          %li
            The <code>show</code> view should display
            %ul
              %li the <code>Classification</code> name at the top of the page
              %li links to each animal – these links should point to the <code>AnimalsController show </code> route
              %li the animals should be sorted by exctinction date, oldest to newest
      %li Add a <code>root</code> route that points to the <code>Classifications</code> index view

      %li Add your files and commit with git (a good commit message would be something like "Added Classifications controller and views")


    %br
    %h3 Setting up the <code>Animals</code> controller and views
    %ol
      %li
        Generate an <code>Animals</code> controller and add it to your <code>routes.rb</code> file
        %ul
          %li Add a <code>show</code> method and view file to display an individual animal
          %li
            On the animal's <code>show</code> page display
            %ul
              %li the animal's scientific name
              %li the animal's common names (if any)
              %li display its image (but only if it has one) – you'll want to use the <code>image_tag</code> method
              %li link to the source URL

      %li Add your files and commit with git (a good commit message would be something like "Added Animals controller and views")


    %br
    %br


    %h3 Submit your work
    %p
      When you are done, push your work to Github. Then email me a link to your repository on Github:
      %a{href: 'mailto:alex@dunae.ca'} alex@dunae.ca
