---
title: Week 4
---
.grid
  .content
    %h1 Week 4


    %h2 Assignment: create a blog

    %h3 Setup

    %p Create a new Rails project called <code>blog</code>.  Change to the new <code>blog</code> directory by typing <code>cd blog</code>.

    %p Start (init) a new git repository for the blog, add all the new blog files and commit everything so far.

    %h3 Create the post model

    %p Create the database with <code>bin/rake db:create</code>

    %p Generate a model called ‘post’. In its migration, add three fields:

    %ul
      %li title (string)
      %li body (text)
      %li published (boolean)

    %p Run the migration (<code>bin/rake db:migrate</code>)

    %p Commit your changes with git.

    %h3 Add demo data

    %p Copy contents of seeds file into <code>db/seeds.rb</code>. Run <code>bin/rake db:seed</code> to load the data.

    %p Use <code>bin/rails console</code> and make sure your <code>Post</code> model can access the database (e.g. <code>Post.all</code>, <code>Post.count</code>)

    %p Commit your changes with git.

    %h3 Create the posts controller

    %p Generate a controller called ‘posts’ with two methods: <code>index</code> and <code>show</code>. Create the appropriate routes in the <code>routes</code> file.

    %p The <code>index</code> method should set an instance variable called <code>@posts</code> that contains all the <b>published</b> posts (where published is <code>true</code>).

    %p The <code>show</code> method should set an instance variable called <code>@post</code> that looks up a single post with <code>params[:id]</code>.


    %h3 Create the matching HTML templates


    %p <code>app/views/posts/index.html.erb</code> should loop through each post in <code>@posts</code>.  It should print out each post's title and link to to each post.

    %p app/views/posts/show.html.erb should print out the specified post's title and body. It should also link back to the index page.


    %p Commit your changes with git. Then push your changes to Github (<code>git push origin master</code>).

    %p
      Email me a link to your repository on Github:
      %a{href: 'mailto:alex@dunae.ca'} alex@dunae.ca



    %br
    %h3 Resources

    %p= link_to 'IMG 240: Git basics', '/git.html'
    %p= link_to 'IMG 240: Creating a Rails application', '/rails.html'
    %p
      = link_to 'Rails Command Line Reference', 'http://guides.rubyonrails.org/command_line.html'
      (generator commands)
    %p
      = link_to 'Rails ActiveRecord Querying Reference', 'http://guides.rubyonrails.org/active_record_querying.html'
      (different methods for querying your model)


