---
title: Week 2
---
.grid
  .content
    %h1 Week 2

    %p
      Email me links to your Gists:
      %a{href: 'mailto:alex@dunae.ca'} alex@dunae.ca

    %h3 Other Stuff

    %p= link_to 'Command Line Crash Course', 'http://learnpythonthehardway.org/book/appendixa.html'
    %p= link_to 'Learn Code the Hard Way: Command Line', 'http://cli.learncodethehardway.org/book/'
