---
title: Week 7
---
.grid
  .content
    %h1 Week 7 - Validating data. Helper methods. Before/after actions. Flash.

    %br

    %h3 Listen: Building Your Technology Radar with Neal Ford

    %p
      The Ruby Rogues’
      = link_to 'latest podcast about selecting technology', 'http://devchat.tv/ruby-rogues/195-rr-building-your-technology-radar-with-neal-ford'
      is fantastic. It discusses how the company he works for chooses technology, and how to personally choose where you invest your time.  It's nothing to do with Rails and everything to do with having a career that involves technology.
